<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"  >
        <h1>
            setors
            <small>Editar setor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo base_url(); ?>"><i class="fa fa-dashboard"></i> Dasboard</a></li>
            <li class="active"><?php if ($this->uri->segment(1) != null) { ?><a href="<?php echo base_url() . 'index.php/' . $this->uri->segment(1) ?>" class="tip-bottom" title="<?php echo ucfirst($this->uri->segment(1)); ?>"> <?php echo ucfirst($this->uri->segment(1)); ?></a><?php }; ?>  </li>
        </ol>
    </section>

<hr>



    <section class="content">
    <?php
        get_msg('salvo');
        ?>
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">

                <div class="text-bold text-blue">  Novo setor</div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!--aqui vem a tabela que vai vir do banco de dados -->

                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" id="formUsuarios" action="<?php echo base_url() . 'index.php/setor/update'; ?>">
                            <div class="box-body">
                            <div class="form-group">
                                <label>Secretaria</label>
                                <select class="form-control      select2" name="id_secretaria" style="width: 100%;">
                                <option value="<?php echo $setor[0]->cid_secretaria; ?>"><?php echo $setor[0]->nm_secretaria; ?></option>
                               <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                <?php }}?>
                                </select>
                                <?php echo form_error('id_secretaria', '<div class="text-danger">', '</div>'); ?>
                                        
                            </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome</label>

                                    <input type="text" class="form-control     " id="txtnome" name="nome" value="<?php echo $setor[0]->nm_setor; ?>" placeholder="Nome.">
                                    <?php echo form_error('nome', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Responsável setor</label>

                                    <input type="text" class="form-control     " id="txtnome" name="responsavel" value="<?php echo $setor[0]->nm_responsavel; ?>" placeholder="Nome.">
                                    <?php echo form_error('responsavel', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <input type="hidden" name="id_setor" value="<?php echo $setor[0]->id_setor;?>">
                                   
                                

                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-check"></i> Atualizar</button>
                                </div>
                        </form>
                    </div>

                </div>


                </section>

            


            </div>

            <!-- /.content-wrapper -->




          