
 <!--Atualiza a pagina a cada 3 minutos -->
 <script>
setTimeout(function() {
  window.location.reload(1);
}, 180000); // 3 minutos
</script>   
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Abertas',  <?php echo $os_abertas; ?>],
          ['Resolvendo',     <?php echo $os_resolvendo; ?>],
          ['Finalizado',  <?php echo $os_fechado; ?>],
          ['Cancelado', <?php echo $os_cancelado; ?>],
          ['Parado',    <?php echo $os_parado; ?>]
        ]);

        var options = {
          title: 'Chamados',
          is3D: true,
          colors: ['#e0440e', '#d8b83f', 'green', '#dd4b39', 'silver'],

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
     <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Abertas',  <?php echo $os_abertas_d; ?>],
          ['Resolvendo',     <?php echo $os_resolvendo_d; ?>],
          ['Finalizado',  <?php echo $os_fechado_d; ?>],
          ['Cancelado', <?php echo $os_cancelado_d; ?>],
          ['Parado',    <?php echo $os_parado_d; ?>]
        ]);

        var options = {
          title: 'Chamados Hoje',
          is3D: true,
          colors: ['#e0440e', '#d8b83f', 'green', '#dd4b39', 'silver'],

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart-hoje'));

        chart.draw(data, options);
      }
    </script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="background-color: #eeeeee;">
  <!-- Content Header (Page header) -->
  <section class="content-header" >
    <h1>
      Dasboard
      <small>Dasboard</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard active"></i> Dasboard</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">


          </div>

          <!-- /.box-header -->
          <div class="box-body">



            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3><?php echo $os; ?></h3>

                  <p>Total de Chamados</p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-pricetag-outline"></i>
                </div>
                <a href="<?php echo base_url(); ?>index.php/os" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->



            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3><?php echo $funcionario - 1; ?></h3>

                  <p>Funcionários cadastrados</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="<?php echo base_url(); ?>index.php/funcionario" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3><?php echo $tecnico - 1; ?></h3>

                  <p>Equipe Técnica</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="<?php echo base_url(); ?>index.php/tecnico" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->

            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3><?php echo $secretaria; ?></h3>

                  <p>Secretarias</p>
                </div>
                <div class="icon">
                  <i class="fa fa-building-o"></i>
                </div>
                <a href="<?php echo base_url(); ?>index.php/secretaria" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <hr>
            <!-- teste de grafico -->
            <div class="col-lg-6">
              <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span>
                  <h5>Estatísticas todos  Chamados</h5>
                </div>
                <div class="widget-content">
                  <div class="row-fluid">
                    <div class="span12">
                    <div class="row"> 
                    <div id="piechart" class="col-lg-12" style="width:px; height: 300px;">
                    </div>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
          
            <div class="col-lg-6">
              <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span>
                  <h5>Estatísticas Chamados Hoje  (<?php echo date('d/m/Y'); ?>)</h5>
                </div>
                <div class="widget-content">
                  <div class="row-fluid">
                    <div class="span12">
                    <div class="row"> 
                    <div id="piechart-hoje" class="col-lg-12" style="width:px; height: 300px;">
                    </div>
                    
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           








            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->


      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
