
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"  >
      <h1>
        Secretaria
        <small> </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dasboard</a></li>
        <li class="active">secretaria</li>
      </ol>
    </section>
<hr>
    <!-- Main content -->
    <section class="content container-fluid">
    <?php
        get_msg('salvo');
        ?>
        <div class="row">
        <div class="col-md-12">
          <div class="">
            <div class="">
            <a href="<?php echo base_url();?>index.php/secretaria/novo" class="btn btn-info "><i class="fa fa-plus-circle"></i> Adicionar Secretaria</a>
              
            </div>
                 <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->  
                 <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Busca Avançada</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body <?php if($filtro){echo 'in';}else{echo '';} ?> collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                        <div class="box-body">


                 <div class="row">
                <form action="" method="get">
                   
               
               
                <!--aquiv vai mais um o nome p/ busca -->
                <div class="col-md-4">
                  <div class="form-group">
                                <label>Secretaria</label>
                                <input type="text" class="form-control select2"   name="nm_secretaria"  style="width: 100%;">       
                            </div> 
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                                <label>Secretário</label>
                                <input type="text" class="form-control select2"   name="nm_secretario"  style="width: 100%;">       
                            </div> 
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                                <label><br> </label>
                                <input type="submit" class="form-control select2 btn <?php if($filtro){echo 'btn bg-purple';}else{echo 'btn btn-info';} ?>" id="os_busca_nome"   name="buscar" value="<?php if($filtro){echo 'Desativar Filtro';}else{echo 'Ativar Filtro';} ?>" style="width: 100%;"> 
                            </div> 
                </div>
                
                
                
                </form>
                   </div>
                        </div>
                        </div>
                    </div>    
                 </div>

            <!--FINAL FILTROS DE BUSCA -->  





            <!-- /.box-header -->
            <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="fa fa-building"></i> </span>
                            <h5>Secretarias</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered ">
                                
                                <thead>
                                    <tr style="backgroud-color: #2D335B">
                  <th>#id</th>
                  <th>secretaria</th>
                  <th>secretario</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr>
                <?php if($secretaria){ foreach ($secretaria as $secretarias) { ?>
                  <td><?php echo $secretarias->id_secretaria;?></td>
                  <td><?php echo $secretarias->nm_secretaria;?></td>
                  <td><?php echo $secretarias->nm_secretario;?></td>
                  <td> <div class="btn-group-horiontal">
                      <a  data-toggle="modal" data-target="#ver_<?php echo $secretarias->id_secretaria; ?>" title="visualizar" class="btn btn-flat btn-info"><i class="fa fa-eye"></i></a>
                      <a href="<?php echo base_url(); ?>index.php/secretaria/edit/<?php echo encript($secretarias->id_secretaria); ?>"  title="editar" class="btn btn-flat btn-info"><i class="fa fa-edit"></i></a>
                      <a data-toggle="modal" data-target="#modal-excluir_<?php echo $secretarias->id_secretaria; ?>" title="excluir"  class="btn btn-flat btn-info"><i class="fa fa-trash"></i></a>
                    </div></td>
                </tr>
                <?php } }else{?>    
                
                <td colspan="4"><center>Nenhuma secretaria cadastrada</center> </td>
                </tr>
                <?php } ?>
                </tbody>
                
              </table>
                <!-- /.box-body -->
               
                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">  
                  <ul class="pagination">
                  <?php if(isset($pag) && !empty($pag)){foreach ($pag as $key => $value) {
                      echo " {$value} ";
                  }}; ?>
                  </ul>
                  </div>
                    
                        <!-- /.box-footer-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->








<!--modal visualizar detalhes -->


<!-- Button trigger modal -->


<!-- Modal -->
<?php
if ($secretaria) {
    foreach ($secretaria as $secretarias) {
        ?>
        <div class="modal fade" id="ver_<?php echo $secretarias->id_secretaria; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-info"> <b>Id:</b> <?php echo $secretarias->id_secretaria; ?><br>
                            <b>Secretaria: </b><?php echo $secretarias->nm_secretaria; ?>
                            <br> 
                            <b>Secretario: </b><?php echo $secretarias->nm_secretario; ?>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default align-right" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>

                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>  



<?php
if ($secretaria) {
    foreach ($secretaria as $secretarias) {
        ?>
        <form action="<?php echo base_url() ?>index.php/secretaria/delete/<?php echo encript($secretarias->id_secretaria); ?>" method="get" >
        <div class="modal fade" id="modal-excluir_<?php echo $secretarias->id_secretaria; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-bold ">
                        <h4><center> Deseja realmente apagar esse registro?</center></h4>
         <br> 
                        </div>


                    </div>
                    <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <input type="submit" class="btn btn-danger" value="Excluir">

                    </div>
                </div>
            </div>
        </div>
        </form>    
        <?php
    }
}
?>  