<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Funcionário
            <small>  Editar funcionário</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo base_url(); ?>"><i class="fa fa-dashboard"></i> Dasboard</a></li>
            <li class="active"><?php if ($this->uri->segment(1) != null) { ?><a href="<?php echo base_url() . 'index.php/' . $this->uri->segment(1) ?>" class="tip-bottom" title="<?php echo ucfirst($this->uri->segment(1)); ?>"> <?php echo ucfirst($this->uri->segment(1)); ?></a><?php }; ?>  </li>
        </ol>
    </section>





    <section class="content">
    <?php
        get_msg('salvo');
        ?>
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">

                <div class="text-bold text-blue">  Novo funcionario</div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <!--aqui vem a tabela que vai vir do banco de dados -->

                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" id="form_funcionario" action="<?php echo base_url() . 'index.php/funcionario/update/'.$funcionario[0]->id_funcionario;?>">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome</label>

                                    <input type="text" class="form-control     " id="txtnome" name="nome" value="<?php echo $funcionario[0]->nm_funcionario; ?>" >
                                    <?php echo form_error('nome', '<div class="text-danger">', '</div>'); ?>
                                    <input type="hidden" name="id_setor_old" value="<?php echo $funcionario[0]->id_setor; ?>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>

                                    <input type="email" required class="form-control     " id="mail_funcionario" name="mail_funcionario" value="<?php echo $funcionario[0]->mail_funcionario; ?>" >
                                    <?php echo form_error('mail_funcionario', '<div class="text-danger">', '</div>'); ?>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nº resp</label>

                                    <input type="text" class="form-control     " id="n_resp" name="n_resp" value="<?php echo $funcionario[0]->n_resp; ?>" >
                                    <input type="hidden" class="form-control     " id="id_local" name="id_local" value="<?php echo $funcionario[0]->id_local; ?>" >
                                   
                                    <?php echo form_error('n_resp', '<div class="text-danger">', '</div>'); ?>
                                    
                                </div>
                                <div class="form-group">
                                    <label>Cargo</label>
                                     <select class="form-control      select2" id="cid_cargo" name="cid_cargo" style="width: 100%;">
                                     <option value="<?php echo $funcionario[0]->cid_cargo; ?>" ><?php echo $funcionario[0]->nm_cargo; ?></option>
                                     <?php if ($cargo) {
                                        foreach ($cargo as $cargos) { ?>
                                       <option value="<?php echo $cargos->id_cargo; ?>" ><?php echo $cargos->nm_cargo; ?></option>
                                       <?php 
                                    }
                                } ?>
                                       </select>
                                       
                                </div>      
                                <div class="form-group">
                                    <label>Secretaria</label>
                                    <select class="form-control      select2" id="id_secretaria" name="cid_secretaria" onchange="busca_setor($(this).val())" style="width: 100%;">
                                    <option value="<?php echo $funcionario[0]->cid_secretaria; ?>" ><?php echo $funcionario[0]->nm_secretaria; ?></option>
                                    <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                    <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                    <?php 
                                }
                            } ?>
                                     </select>
                                        
                              </div>   
                            <div class="form-group">
                                <label>Setor</label>
                              
                                <select class="form-control      select2" id="id_setor" name="id_setor"  style="width: 100%;">
                                
                                <option value="<?php echo $funcionario[0]->id_setor; ?>"><?php echo $funcionario[0]->nm_setor; ?> </option>
                                </select>
                                        
                            </div>   
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Local</label>

                                    <input type="text" class="form-control     " id="nm_local" name="nm_local" value="<?php echo $funcionario[0]->nm_local; ?>" >
                                    <?php echo form_error('nm_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nº Ramal ou Telefone</label>

                                    <input type="text" class="form-control     " id="n_ramal" name="n_ramal" value="<?php echo $funcionario[0]->n_ramal; ?>" >
                                    <?php echo form_error('nm_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Obs. sobre local de trabalho</label>

                                    <input type="text" class="form-control     " id="obs_local" name="obs_local" value="<?php echo $funcionario[0]->obs_local; ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                              <hr>
                              <label class="text-capitalize text-success">Dados para o Painel de usuário </label>
                                <!-- /.box-body -->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Usuário</label>

                                    <input type="text" class="form-control     " id="nm_usuario_" disabled name="nm_usuario_" value="<?php echo $funcionario[0]->nm_usuario; ?>" >
                                    <input type="hidden" class="form-control     " id="nm_usuario" name="nm_usuario" value="<?php echo $funcionario[0]->nm_usuario; ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Senha</label>

                                    <input type="password" class="form-control     " id="senha" name="senha" value="<?php echo $funcionario[0]->senha; ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Repita senha</label>

                                    <input type="password" class="form-control     " id="confirma_senha" name="confirma_senha" value="<?php echo $funcionario[0]->senha; ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-check"></i> Atualizar</button>
                                </div>
                            </div>      
                        </form>
                    </div>

                </div>


                </section>

            


            </div>

            <!-- /.content-wrapper -->




          